<?xml version='1.0' encoding='utf-8'?>
<plugin id="nfc-session" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
   <name>NfcSession</name>
   <js-module name="NfcSession" src="www/NfcSession.js">
      <clobbers target="cordova.plugins.NfcSession" />
   </js-module>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="NfcSession">
            <param name="ios-package" value="NfcSession" />
         </feature>
      </config-file>
      <source-file src="src/ios/NfcSession.swift" />
      <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
   </platform>
</plugin>